<md-toolbar color = "primary">
  <button md-button routerLink = "/">Voting System</button>
  <span class = "lverg-spacer"></span>
  <button md-button routerLink = "/data-view">Details</button>
  <button md-button (click) = "onHeaderSignIn()" *ngIf = "!signInStatus">Sign in</button>
  <button md-button routerLink = "/signup" *ngIf = "!signInStatus">Register</button>


  <md-menu #appMenu = "mdMenu">
    <button md-menu-item routerLink = "/user-dashboard"> User Dashboard</button>
    <button md-menu-item (click)="onHeaderSignOut()"> Sign out</button>
  </md-menu>
  <button md-button [mdMenuTriggerFor] = "appMenu" *ngIf = "signInStatus">
    Hello, {{authenInfo.username}}! <md-icon class = "material-icons">list</md-icon>
  </button>

</md-toolbar>

