<mat-toolbar color = "primary">
  <button mat-button routerLink = "/">Voting System</button>
  <span class = "lverg-spacer"></span>
  <button mat-button (click) = "onHeaderSignIn()" *ngIf = "!signInStatus">Sign in</button>
  <button mat-button routerLink = "/signup" *ngIf = "!signInStatus">Register</button>


  <mat-menu #appMenu = "matMenu">
    <button mat-menu-item routerLink = "/user-dashboard"> User Dashboard</button>
    <button mat-menu-item (click)="onHeaderSignOut()"> Sign out</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor] = "appMenu" *ngIf = "signInStatus">
    Hello, {{this.username}}! <mat-icon class = "material-icons">list</mat-icon>
  </button>

</mat-toolbar>

