<md-toolbar color = "primary" class="lverg-header">
    <button md-button class = "lverg-logo" (click)="toWelcome()">Voting System</button>
    <span class = "lverg-spacer"></span>
    <button md-button class = "lverg-signin" (click) = "onHeaderSignIn()" *ngIf = "!signInStatus">Sign in</button>
    <button md-button class = "lverg-signup" routerLink = "/signup" *ngIf = "!signInStatus">Register</button>


    <md-menu #appMenu = "mdMenu">
        <button md-menu-item routerLink = "/user-dashboard"> User Dashboard</button>
        <button md-menu-item (click) = "onHeaderSignOut()"> Sign out</button>
    </md-menu>
    <button md-button class = "lverg-username" [mdMenuTriggerFor] = "appMenu" *ngIf = "signInStatus">
        Hello, {{this.username}}!
        <md-icon class = "material-icons">list</md-icon>
    </button>

</md-toolbar>

