<md-card>
  <form (ng-submit) = "onRegiserSubmit(registerForm)" #registerForm = "ngForm">
    <table class = "full-width" cellspacing = "0">
      <tr>
        <td>
          <md-form-field class = "full-width">
            <input mdInput placeholder = "First Name" ngModel required name = "firstName">
          </md-form-field>
        </td>

        <td>
          <md-form-field class = "full-width">
            <input mdInput placeholder = "Last Name" ngModel required name = "lastName">
          </md-form-field>
        </td>
      </tr>
    </table>
    <md-form-field class = "full-width">
      <input mdInput placeholder = "Email" ngModel required email name = "email">
    </md-form-field>
    <md-form-field class = "full-width">
      <input mdInput placeholder = "Username" ngModel required name = "username">
    </md-form-field>
    <md-form-field class = "full-width">
      <input mdInput placeholder = "Password" [ngModel] = "regInfo.password" required #password = "ngModel"
             name = "password"
             type = "password">
    </md-form-field>
    <md-form-field class = "full-width">
      <input mdInput placeholder = "Repeat your password" [ngModel] = "regInfo.confirmPassword" required
             validateEqual = "password" #confirmPassword = "ngModel" name = "passwordRep" type = "password"
      >
    </md-form-field>
    <md-form-field class = "full-width">
      <input mdInput placeholder = "UFID" ngModel required name = "ufid">
    </md-form-field>


    <div>
      <button md-fab [disabled] = "!registerForm.valid" color = "primary" type = "submit">
        <md-icon class = "material-icons">done</md-icon>
      </button>
      <button md-fab color = "warn" (click) = "onClearClick()">
        <md-icon class = "material-icons">clear</md-icon>
      </button>
    </div>
  </form>

</md-card>


