<form class="form">
  <table class="full-width" cellspacing="0"><tr>
    <td><md-form-field class="full-width">
      <input mdInput placeholder="First name">
    </md-form-field></td>
    <td><md-form-field class="full-width">
      <input mdInput placeholder="Last Name">
    </md-form-field></td>
  </tr>
  </table>
  <md-form-field class="full-width">
    <input mdInput placeholder="Username">
  </md-form-field>
  <md-form-field class="full-width">
    <input mdInput placeholder="Password">
  </md-form-field>
  <md-form-field class="full-width">
    <input mdInput placeholder="UFID">
  </md-form-field>
</form>
