/* .section-card{
  max-width: 80%;
  margin: 2em auto;
} */

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.lverg-page-layout {
  width: 90%;
  margin: 30px auto 0 auto;
}
