.lverg-page-layout {
  width: 90%;
  margin: 0px auto 0 auto;
}

.ballot-view {
    margin: 0px 0px 0px 50px;
    float: left;
}

.PreNex {
    display: flex;
    margin-top: 30px;
}

.raised-button {
    margin-right: 30px;
}

.check {
    margin: 0px 0px 0px 50px;
    float: left;
}

.submit {

    margin: 65px 0px 0px 0px;

}

.example-radio-group {
    display: inline; /* to show the button in one line*/
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}
