
<head>
  <title>
  </title>

</head>
<body>
  <div id = "start">
    <h1>Start counting for your new vote!</h1>   
  </div>

  <div id = "navbar">
    
      <button id="votingType" md-button [mdMenuTriggerFor]="votingType">Select the voting type</button>
      <md-menu #votingType="mdMenu">
        <button id="menuItem1"md-menu-item>students' favoriate dinner</button>
        <button id="menuItem2"md-menu-item>students' favoriate snack</button>
      </md-menu>
  </div>

  <div class = "leftSideBar">
    <md-card >
      <md-card-header>
        <h2>Find the larger view of the Image you want</h2>
      </md-card-header>
      <form>
            <md-form-field>
              <p id = "placeHolderHint" >Name of Image you want a large view </p>
              <input id = "placeholder" #placeholder mdInput value="Image1">
            </md-form-field>
      </form>
    <button id = "searchButton" md-button color = "primary">Search</button>
    <button id = "resetButton1" (click)="resetInput(placeholder)" md-button color = "primary">Reset</button>
    </md-card>
  </div>

  <div class = "countNum">
    <md-card >
        <md-card-header>
          <md-card-title id="mdCardTitle1" >Counting the total number </md-card-title>
        </md-card-header>
        <div ng-app="">
          <p id="count" #count> {{countNumber}} </p>
        </div>

      <md-card-actions>
        <button id="countButton" #countButton (click)="countImageNumber()" md-button color = "primary">Count</button>
        <button id="resetButton2" #resetButton (click)="resetImageNumber()" md-button color = "primary">Reset</button>
      </md-card-actions>
    </md-card>
  </div>

  <div class = "LargeImage">
    <md-card>
      <md-card-header>
        <div md-card-avatar class="image"></div>
        <md-card-title id="mdCardTitle2">Voting Type: food</md-card-title>
        <br>
        <md-card-subtitle id="mdCardsubTitle">Name of image: Image1</md-card-subtitle>
      </md-card-header>
      <br>
      <img #image width = "300" height = "200" id="md-card-image" src="assets/votingImage1.jpg">
      <br>
    
      <md-card-actions>
        <button id = "previousButton" #previousButton [disabled] = "true" (click)="previousPage(image, previousButton, nextButton)" md-button color = "primary">Previous</button>
        <button id = "nextButton" #nextButton [disabled] = "false" (click)="nextPage(image, previousButton, nextButton)" md-button color = "primary">Next</button>
      </md-card-actions>
    </md-card>
  </div>

  <div id = "footer">
      <ul>
        <li><a href = "">About Counting-system</a></li>
        <li><a href = "">Help</a></li>
        <li><a href = "">Contact Us</a></li>
      </ul>
  </div>
  
</body>
