<div class = "lverg-dim-screen">
    <app-header></app-header>

    <!--<mat-sidenav-container class = "lverg-body-content">-->
        <!--<mat-sidenav #sidenav mode = "side" opened = "true" class = "lverg-sidenav">-->
            <!--<button mat-button class = "lverg-sidenav-button" routerLink = "/admin">-->
                <!--View Elections-->
            <!--</button>-->
            <!--<br>-->
            <!--<button mat-button class = "lverg-sidenav-button" routerLink = "/admin/new-election">-->
                <!--Add Election-->
            <!--</button>-->
            <!--<br>-->
            <!--<button mat-button routerLink = "/data-view">Details</button>-->


        <!--</mat-sidenav>-->
    <!--</mat-sidenav-container>-->

  <router-outlet></router-outlet>

</div>

<!--<span class = "fixed-button">-->
  <!--<button mat-fab (click) = "sidenav.toggle()" color = "primary">-->
    <!--<mat-icon class = "material-icons" *ngIf = "!sidenav.opened">add</mat-icon>-->
    <!--<mat-icon class = "material-icons" *ngIf = "sidenav.opened">remove</mat-icon>-->
  <!--</button>-->
<!--</span>-->

