.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.lverg-dim-screen
{
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.5);
}

.lverg-body-content {
  height: 100%;
}

.lverg-sidenav{
  padding: 20px;
}
