<div class = "lverg-dim-screen">
  <app-header></app-header>

  <md-sidenav-container class = "lverg-body-content">
    <md-sidenav #sidenav mode = "side" opened = "true" class = "lverg-sidenav">
      <button md-button>
        Start vote
      </button>


    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-container>
</div>

<span class = "fixed-button">
  <button md-fab class = "example-fab" (click) = "sidenav.toggle()">
    <md-icon class = "material-icons" *ngIf = "!sidenav.opened">add</md-icon>
    <md-icon class = "material-icons" *ngIf = "sidenav.opened">remove</md-icon>
  </button>
</span>

