<md-card>
  <h1>{{chartTitle}}</h1>
  <md-tab-group>
    <md-tab label="All Elections">
      <div class="admin-table-container mat-elevation-z8">
        <md-table #table [dataSource]="elecTable">

          <!-- ID Column -->
          <ng-container mdColumnDef="id">
            <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.id}} </md-cell>
          </ng-container>

          <!-- Election Column -->
          <ng-container mdColumnDef="name">
            <md-header-cell *mdHeaderCellDef> Election </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
          </ng-container>

          <!-- Count Column -->
          <ng-container mdColumnDef="count">
            <md-header-cell *mdHeaderCellDef> Ballot Count </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.count}} </md-cell>
          </ng-container>

          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>

        <md-paginator #paginator 
        [length]="adminService.data.length" 
        [pageIndex]="0" 
        [pageSize]="1" 
        [pageSizeOptions]="[1,2,3,4]">
        </md-paginator>
      </div>
    </md-tab>
    <md-tab label="Active Elections">
      
    </md-tab>
    <md-tab label="Closed Elections">
      
    </md-tab>
  </md-tab-group>
</md-card>