.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.lverg-left-column {
  width: 80%;
  margin: 2em auto;
  float: left;
  /*text-align: center;*/
}

.lverg-right-column {
  width: 20%;
  margin: 2em auto;
  float: left;
}

.page-layout {
  width: 90%;
  margin: 0px auto 0 auto;
}

.lverg-button {
  width: 90%;
  margin: 5px auto 5px auto;
  display: block;
}

span.clear {
  clear: left;
  display: block;
}
