<md-sidenav-container>
  <md-sidenav mode="side" opened="true" mode="side">
    <ul>
      <li>
        <a >
          Elections
        </a>
      </li>
    </ul>
  </md-sidenav>
  <div class="my-content">
    <div>
      <p *ngIf="!signInStatus">You are a guest!</p>

      <p *ngIf="signInStatus">
        Your username is: {{this.authenInfo.username}}
      </p>
      <p *ngIf="signInStatus">
        Your password is: {{this.authenInfo.password}}
      </p>
    </div>

    <div>
      <admin-app></admin-app>
    </div>
  </div>
</md-sidenav-container>